@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #fff;
}

.sub-heading{
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
    margin-top: 7rem;
}

.heading{
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

header{
    position: fixed;
    top: 0; right: 0; left: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);

}

header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color: var(--green);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    border-radius: .3rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons a.active,
header .icons a:hover{
    color: #fff;
    background: var(--green);
}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top: 0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color: var(--green);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
}

.cart .box{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
    width: 70%;
}

.cart .box .fa-trash{
    position: absolute;
    top:11rem; right:2rem;
    font-size: 2.5rem;
    color:var(--black);
}

.cart .box .fa-trash:hover{
    color: var(--green);
}

.cart .box .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.cart .box .user img{
    height: 10rem;
    width: 10rem;
    border-radius: 30%;
    object-fit: cover;
}

.cart .box .user h3{
    position: absolute;
    top: 20%;
    color:var(--black);
    font-size: 2.7rem;
    padding-bottom: .5rem;
}

.cart .box .user i{
    margin-top: 3rem;
    font-size: 1.5rem;
    color: var(--green);
}

.cart .box .user span{
    position: absolute;
    top: 15%; right: 5%;
    color: var(--green);
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: 400;
}

.side-bar{
    background: var(--green);
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.2rem solid rgba(78, 205, 61, 0.329);
    border-radius: .5rem;
    position: absolute;
    width: 25%; height: 5%;
    top: 26%; right: 5%;
}

.side-bar .body{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.2rem solid rgba(78, 205, 61, 0.329);
    border-radius: .5rem;
    position: relative;
    width: 112%; height: 70rem;
    top: 26%; right: 6%;
}

.side-bar .body h3{
    visibility: hidden;
}

.side-bar h3{
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    position: relative;
    top: -1.2rem;
}

.side-bar .image img{
    margin-top: -2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 30%;
    object-fit: cover;
    border: .2rem solid rgba(78, 205, 61, 0.329);
}

.side-bar .image h1{
    position: relative;
    bottom: 4rem; left: 20%;
    color: var(--black);
    font-size: 1.7rem;
}

.side-bar .image span{
    position: relative;
    bottom: 6rem; left: 80%;
    color: var(--green);
    font-size: 1.7rem;
    font-weight: 600;
}

.side-bar .image hr{
    position: relative;
    background: var(--green);
    height: 1px; width: 100%;
    margin: 10px auto;
    margin-top: -30px;
}

.side-bar .body .cart-list .total{
    margin-left: 2rem;
}

.side-bar .body .cart-list .total h2{
    font-weight: 600;
}

.side-bar .body .cart-list .total h3{
    position: relative;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    visibility: inherit;
    color: black;
}

.side-bar .total hr{
    position: relative;
    background: var(--green);
    height: 2px; width: 100%;
    margin: 10px auto;
    margin-top: 0px;
}

.side-bar .total span{
    position: relative;
    bottom: 2.7rem; left: 79%;
    color: var(--green);
    font-size: 1.5rem;
    font-weight: 700;
}

.side-bar .body .cart-list .total a{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 4rem;
    display: inline-block;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .6rem 2rem;
}

.side-bar .body .cart-list .total a:hover{
    font-size: 1.2rem;
    background: var(--green);
    padding: .5rem 1rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover{
    color: var(--green);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: var(--black);
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color: var(--green);
}






















/* media queries */
@media(max-width: 1125px){
    .side-bar{
        margin-top: 4rem;
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        position: absolute;
        width: 25%;
        top: 24%; right: 5%;
    }

    .side-bar .body{
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.2rem solid rgba(78, 205, 61, 0.329);
        border-radius: .5rem;
        position: relative;
        width: 118%; height: 65rem;
        top: 26%; right: 9%;
        margin-top: .5rem;
    }

}


@media(max-width: 1111px){
    .side-bar{
        margin-top: 4rem;
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        position: absolute;
        width: 25%;
        top: 24%; right: 5%;
    }

    .side-bar .body{
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.2rem solid rgba(78, 205, 61, 0.329);
        border-radius: .5rem;
        position: relative;
        width: 120%; height: 65rem;
        top: 26%; right: 9%;
        margin-top: .5rem;
    }

    .side-bar .image img{
        position: relative;
        margin-top: -2rem;
        height: 4.5rem;
        top: .5rem;
        width: 4.5rem;
        border-radius: 30%;
        object-fit: cover;
        border: .2rem solid rgba(78, 205, 61, 0.329);
    }
    
    .side-bar .image h1{
        position: relative;
        bottom: 3rem; left: 20%;
        margin-left: 1rem;
        color: var(--black);
        font-size: 1.4rem;
    }
    
    .side-bar .image span{
        position: relative;
        bottom: 6rem; left: 88%;
        color: var(--green);
        font-size: 1.2rem;
        font-weight: 700;
    }

    .side-bar .body .cart-list .total h2{
        font-weight: 600;
        margin-left: -1rem;
    }
    
    .side-bar .body .cart-list .total h3{
        position: relative;
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        visibility: inherit;
        color: black;
        margin-left: -1rem;
    }

    .side-bar .total hr{
        position: relative;
        background: var(--green);
        height: 1.5px; width: 112%;
        margin: 10px auto;
        margin-top: 0px;
        margin-left: -2rem;
    }

    .side-bar .body .cart-list .total h1{
        margin-left: -1rem;
    }

}

@media(max-width: 991px){

    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }

    section{
        padding: 2rem;
    }
    .side-bar{
        margin-top: 0rem;
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        position: absolute;
        width: 25%;
        top: 27%; right: 4%;
    }

    .side-bar .body{
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.2rem solid rgba(78, 205, 61, 0.329);
        border-radius: .5rem;
        position: relative;
        width: 118%; height: 70rem;
        top: 26%; right: 9%;
        margin-top: .5rem;
    }

    .side-bar .image img{
        margin-top: -2rem;
        height: 4rem;
        width: 4rem;
        border-radius: 30%;
        object-fit: cover;
        border: .1rem solid rgba(78, 205, 61, 0.329);
    }
    
    .side-bar .image h1{
        position: relative;
        bottom: 4rem; left: 20%;
        color: var(--black);
        font-size: 1.7rem;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    
    .side-bar .image span{
        position: relative;
        bottom: 7rem; left: 90%;
        color: var(--green);
        font-size: 1.2rem;
        font-weight: 700;
    }

    .side-bar .body .cart-list .total h2{
        font-weight: 600;
        margin-left: -1rem;
    }
    
    .side-bar .body .cart-list .total h3{
        position: relative;
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        visibility: inherit;
        color: black;
        margin-left: -1rem;
    }

    .side-bar .body .cart-list .total h1{
        margin-left: -1rem;
    }

    .side-bar .total hr{
        position: relative;
        background: var(--green);
        height: 1.5px; width: 120%;
        margin: 10px auto;
        margin-top: 0px;
        margin-left: -2rem;
    }

    .side-bar .total span{
        position: relative;
        bottom: 2.3rem; left: 79%;
        color: var(--green);
        font-size: 1.3rem;
        font-weight: 700;
    }


}

@media (max-width: 768px){

    header .icons #menu-bars{
        display: inline-block;
        margin-left: -20%;
    }

    header .navbar{
        position: absolute;
        top: 100%; right: 0; left: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box{
        width: 90%;
        margin:0 1rem;
    }

    .cart .box{
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        position: relative;
        width: 70%;
    }

    .cart .box .user i{
        margin-top: 5rem;
        font-size: 1.5rem;
        color: var(--green);
    }

    .cart .box .user h3{
        position: absolute;
        top: 20%;
        color:var(--black);
        font-size: 2rem;
        padding-bottom: .5rem;
    }

    .side-bar{
        margin-top: 0rem;
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        position: absolute;
        width: 25%;
        top: 27%; right: 5%;
    }

    .side-bar h3{
        color: #fff;
        font-weight: 700;
        font-size: 1.5rem;
        position: relative;
        top: -1.2rem;
    }

    .side-bar .body{
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.2rem solid rgba(78, 205, 61, 0.329);
        border-radius: .5rem;
        position: relative;
        width: 125%; height: 62rem;
        top: 26%; right: 12%;
        margin-top: .5rem;
    }

    .side-bar .image img{
        margin-top: -2rem;
        height: 4rem;
        width: 4rem;
        border-radius: 30%;
        object-fit: cover;
        border: .1rem solid rgba(78, 205, 61, 0.329);
    }
    
    .side-bar .image h1{
        position: relative;
        bottom: 4rem; left: 20%;
        color: var(--black);
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    
    .side-bar .image span{
        position: relative;
        bottom: 6rem; left: 90%;
        color: var(--green);
        font-size: 1rem;
        font-weight: 700;
    }

    .side-bar .body .cart-list .total h2{
        font-weight: 600;
        margin-left: -1rem;
    }
    
    .side-bar .body .cart-list .total h3{
        position: relative;
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        visibility: inherit;
        color: black;
        margin-left: -1rem;
    }

    .side-bar .body .cart-list .total h1{
        margin-left: -1rem;
    }

    .side-bar .total hr{
        position: relative;
        background: var(--green);
        height: 1.5px; width: 120%;
        margin: 10px auto;
        margin-top: 0px;
        margin-left: -2rem;
    }

    .side-bar .total span{
        position: relative;
        bottom: 2.3rem; left: 79%;
        color: var(--green);
        font-size: 1.3rem;
        font-weight: 700;
    }
}

@media (max-width: 767px){

    .side-bar .image h1{
        position: relative;
        bottom: 4rem; left: 20%;
        color: var(--black);
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    
    .side-bar .image span{
        position: relative;
        bottom: 6rem; left: 90%;
        color: var(--green);
        font-size: 1rem;
        font-weight: 700;
    }
    .side-bar .body .cart-list .total h2{
        font-weight: 400;
    }
    
    .side-bar .body .cart-list .total h3{
        position: relative;
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 400;
        visibility: inherit;
        color: black;
    }
    .side-bar .total hr{
        position: relative;
        background: var(--green);
        height: 1.5px; width: 120%;
        margin: 10px auto;
        margin-top: 0px;
        margin-left: -2rem;
    }

    .side-bar .total span{
        position: relative;
        bottom: 2.3rem; left: 79%;
        color: var(--green);
        font-size: 1.3rem;
        font-weight: 700;
    }
}

@media(max-width: 580px){
    .side-bar{
        margin-top: 2rem;
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        position: absolute;
        width: 25%;
        top: 24%; right: 5%;
        visibility: hidden;
        transition: all .2s ease-in-out;
    }

    .review .box{
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        position: relative;
        width: 100%;
    }

    .side-bar .image hr{
        position: relative;
        background: var(--green);
        height: 1px; width: 100%;
        margin: 10px auto;
        margin-top: 20px;
    }

}

@media(max-width: 579.9px){
    .cart .box{
        padding:2rem;
        margin-left: -.5rem;
        box-shadow:var(--box-shadow);
        border:.1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        position: relative;
        width: 100%;
    }

    .side-bar{
        background: #fff;
        margin-top: 4rem;
        margin-left: -.5rem;
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.2rem solid rgba(78, 205, 61, 0.329);
        border-radius: .5rem;
        position: relative;
        width: 90%; height: 70rem;
        top: 15%; left: 5%;
        visibility: inherit;
    }

    .side-bar h3{
        visibility: hidden;
    }

    .side-bar .body h3{
        color: #fff;
        font-weight: 700;
        font-size: 2rem;
        position: relative;
        top: -1rem;
        visibility: inherit;
    }

    .side-bar .body{
        background: var(--green);
        padding:2rem;
        box-shadow:var(--box-shadow);
        border:.2rem solid rgba(78, 205, 61, 0.329);
        border-radius: .5rem;
        position: relative;
        width: 108%; height: 5rem;
        top: -13%; left: -4%;
        margin-top: .5rem;
    }

    .side-bar .image img{
        position: relative;
        margin-top: -5rem;
        height: 5rem;
        top: 7rem;
        width: 5rem;
        border-radius: 30%;
        object-fit: cover;
        border: .2rem solid rgba(78, 205, 61, 0.329);
    }
    
    .side-bar .image h1{
        position: relative;
        bottom: -2rem; left: 20%;
        margin-left: -1.5rem;
        color: var(--black);
        font-size: 1.9rem;
    }
    
    .side-bar .image span{
        position: relative;
        bottom: -0.2rem; left: 90%;
        color: var(--green);
        font-size: 1.7rem;
        font-weight: 700;
    }

    .side-bar .body .cart-list .total h2{
        font-weight: 600;
    }
    
    .side-bar .body .cart-list .total h3{
        position: relative;
        margin-top: 2rem;
        font-size: 1.7rem;
        font-weight: 600;
        visibility: inherit;
        color: black;
    }

    .side-bar .total hr{
        position: relative;
        background: var(--green);
        height: 2px; width: 100%;
        margin: 10px auto;
        margin-top: 0px;
    }

    .side-bar .total span{
        position: relative;
        bottom: 2.5rem; left: 79%;
        color: var(--green);
        font-size: 1.8rem;
        font-weight: 700;
    }
    
}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }

    header{
        padding: 1rem 2rem;
    }

    section{
        padding: 2rem;
    }
    header .icons #menu-bars{
        display: inline-block;
        margin-left: -20%;
    }

    .side-bar .image img{
        position: relative;
        margin-top: -5rem;
        height: 4.8rem;
        top: 5rem;
        width: 4.8rem;
        border-radius: 30%;
        object-fit: cover;
        border: .2rem solid rgba(78, 205, 61, 0.329);
    }
    
    .side-bar .image h1{
        position: relative;
        bottom: .5rem; left: 20%;
        margin-left: -1.5rem;
        color: var(--black);
        font-size: 1.7rem;
    }
    
    .side-bar .image span{
        position: relative;
        bottom: 3.3rem; left: 80%;
        color: var(--green);
        font-size: 1.7rem;
        font-weight: 700;
    }

    .side-bar .total hr{
        position: relative;
        background: var(--green);
        height: 2px; width: 105%;
        margin: 10px auto;
        margin-top: 0px;
        margin-left: -2rem;
    }

    .side-bar .body .cart-list .total a{
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-left: 9rem;
        display: inline-block;
        color: #fff;
        background: var(--black);
        border-radius: .5rem;
        cursor: pointer;
        padding: .6rem 2rem;
    }
    
    .side-bar .body .cart-list .total a:hover{
        font-size: 1.2rem;
        background: var(--green);
        padding: .5rem 1rem;
    }

}

@media(max-width: 428px){
    .side-bar .body{    
        position: relative;
        width: 112%; height: 5rem;
        top: -13%; left: -6%;
        margin-top: .5rem;
    }

    .cart .box .user span{
        position: absolute;
        top: 10%; right: 5%;
        color: var(--green);
        margin-left: 1rem;
        font-size: 2rem;
        font-weight: 700;
    }

    .side-bar .total hr{
        position: relative;
        background: var(--green);
        height: 2px; width: 107%;
        margin: 10px auto;
        margin-top: 0px;
        margin-left: -2rem;
    }

    .side-bar .body .cart-list .total a{
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-left: 8rem;
        display: inline-block;
        color: #fff;
        background: var(--black);
        border-radius: .5rem;
        cursor: pointer;
        padding: .6rem 2rem;
    }
    
    .side-bar .body .cart-list .total a:hover{
        font-size: 1.2rem;
        background: var(--green);
        padding: .5rem 1rem;
    }

}

@media(max-width: 321px){
    .side-bar .body{
        width: 114%; height: 5rem;
        top: -13%; left: -7%;
        margin-top: .5rem;
    }

    .cart .box .user span{
        position: absolute;
        top: 15%; right: 5%;
        color: var(--green);
        margin-left: 1rem;
        font-size: 1.7rem;
        font-weight: 600;
    }

    .cart .box .user h3{
        position: absolute;
        top: 30%;
        color:var(--black);
        font-size: 1.7rem;
        padding-bottom: .5rem;
    }
    
    .cart .box .user i{
        margin-top: 3rem;
        font-size: 1.4rem;
        color: var(--green);
    }

    .side-bar .image img{
        position: relative;
        margin-top: -5rem;
        height: 4.8rem;
        top: 5rem;
        width: 4.8rem;
        border-radius: 30%;
        object-fit: cover;
        border: .2rem solid rgba(78, 205, 61, 0.329);
    }
    
    .side-bar .image h1{
        position: relative;
        bottom: .5rem; left: 20%;
        margin-left: -0.5rem;
        color: var(--black);
        font-size: 1.5rem;
    }
    
    .side-bar .image span{
        position: relative;
        bottom: 2.5rem; left: 80%;
        color: var(--green);
        font-size: 1.5rem;
        font-weight: 700;
    }

    .side-bar .body .cart-list .total a{
        position: relative;
        top: 2rem;
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-left: 11rem;
        display: inline-block;
        color: #fff;
        background: var(--black);
        border-radius: .5rem;
        cursor: pointer;
        padding: .8rem 4rem;
    }
    
    .side-bar .body .cart-list .total a:hover{
        font-size: 1.2rem;
        background: var(--green);
        padding: .8rem 4rem;
    }
}
